*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

 body{ 

  display: flex;

  justify-content: center;

  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 100vh;
   /* background: radial-gradient(rgb(49, 14, 50), #1f1013); */
  background: linear-gradient(90deg,#050b3a,#121a63, #940f39,#490d20)
  /* background-color: #10141b; */
   /* background: #ffffff;  */
  /* background-image: url("img/gof.webp"); */
  

} 
.quiz-container{
  width: 700px;
  /* background: linear-gradient(-45deg, #3e3837, #4f2032, #284a57, #23564a) */
}
.questions{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  padding: 35px;
  /* background-color: #10141b */
  /* border-radius: 5%; */
  margin-top: 8%;
}
.quiz{
  margin-left: -5%;
}
.quiz-options{
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 10%;
}

.cube{

  position: absolute;
  top: 130px;
  left: 170px;

  width: 150px;

  height: 150px;

  transform-style: preserve-3d;

  animation: animate 4s linear infinite;

}

@keyframes animate{

  0%{

      transform: rotateX(-30deg) rotateY(0deg);

  }

  100%{

      transform: rotateX(-30deg) rotateY(360deg);

  }

}

.cube div{

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  transform-style: preserve-3d;

}

.cube div span{

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: linear-gradient(#161616,#6aff00);

  transform: rotateY(calc(90deg * var(--i)))

  translateZ(75px);

  /* (300/2) = 150*/

}

.top{

  position: absolute;

  top: 0;

  left: 0;

  width: 150px;

  height: 150px;

  background: #222;

  transform: rotateX(90deg) translateZ(75px);

}

.top::before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 150px;

  height: 150px;

  background: #0f0;

  transform: translateZ(-240px);

  filter: blur(20px);

  box-shadow: 0 0 120px rgba(0,255,0,0.2),

  0 0 200px rgba(0,255,0,0.2),

  0 0 300px rgba(0,255,0,0.2),

  0 0 400px rgba(0,255,0,0.2),

  0 0 500px rgba(0,255,0,0.2);

}
.cube2{

  position: absolute;
  top: 230px;
  left: 1200px;

  width: 150px;

  height: 150px;

  transform-style: preserve-3d;

  animation: animate 4s linear infinite;

}
@keyframes animate{

  0%{

      transform: rotateX(-30deg) rotateY(0deg);

  }

  100%{

      transform: rotateX(-30deg) rotateY(360deg);

  }

}
.cube2 div{

  position: absolute;

  top: -0;

  left: 100;

  width: 100%;

  height: 100%;

  transform-style: preserve-3d;

}
.cube2 div span{

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: linear-gradient(#161616,#0392ff);

  transform: rotateY(calc(90deg * var(--i)))

  translateZ(75px);

  /* (300/2) = 150*/

}

.top{

  position: absolute;

  top: 0;

  left: 0;

  width: 150px;

  height: 150px;

  background: #222;

  transform: rotateX(90deg) translateZ(75px);

}

.top::before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 150px;

  height: 150px;

  background: #2ff104;

  transform: translateZ(-240px);

  filter: blur(20px);

  box-shadow: 0 0 120px rgba(0,255,0,0.2),

  0 0 200px rgba(0,255,0,0.2),

  0 0 300px rgba(0,255,0,0.2),

  0 0 400px rgba(0,255,0,0.2),

  0 0 500px rgba(0,255,0,0.2);

}