html,
body {
  height: 100%;
  
  touch-action: none; 
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: none !important;
  background-image: url(https://wallpapercosmos.com/w/full/0/6/4/128510-3840x2160-desktop-4k-hogwarts-legacy-wallpaper.jpg);
  
  background-size: cover;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; 
}

#cursor {
  position: absolute;
 z-index: 9999;
  transform: rotate(-12deg);
  top:0px;
  pointer-events: none;
}

#drag-container, #spin-container {
 
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  box-shadow: 0 0 8px goldenrod;
  /* -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005); */
}


#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}


@keyframes spin {
  from{
       transform: rotateY(0deg);
     } 
  to{
       transform: rotateY(360deg);
  }
}

@keyframes spinRevert {
  from{
         transform: rotateY(360deg);
  } 
  
  to{
      transform: rotateY(0deg);
  }
}






#info-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: goldenrod;
  font-weight: bolder;
}

#drag-container:hover #info-section {
  display: block;
}

