
*{
    font-family: 'Cinzel', serif;
}

  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }



body{
    
    overflow: hidden;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0b0921); 
    background: linear-gradient(to right, #24243e, #15114a, #0b0820);
    background-image: url(img/bg\ hogwarts.jpg); 
    background-size: cover;
    cursor: none !important;
  
    
    
}





  #cursor {
    position: absolute;
   z-index: 9999;
    transform: rotate(-12deg);
    top:0px;
    pointer-events: none;
  }

.expand {
    background: transparent;
    /* animation: moveCursor2 .5s forwards; */
    border: 1px solid #000;
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.container{
    border:1px solid goldenrod;
    position: absolute;
    cursor: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    
}


.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
   cursor: none;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}


.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}
.slide .item:nth-child(n + 6){
    left: calc(50% + 760px);
    opacity: 0;
}
.name{
    color:golden;
    font-weight: 700;
}


.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color:#000000;
    padding: 2rem;
    background: rgba( 216, 216, 222, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    font-weight: bolder;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    text-decoration-line: none;
    padding: 10px 20px;
    border: none;
   cursor: none;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: none;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

.logo-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.logo {
   
   
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 100;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-btn {
    display: inline-block;
    margin-right: 10px;
}

.nav-btn a {
    cursor:none;
    text-decoration: none;
    color: gold;
    font-size: 24px;
}
button a{
    cursor: none;
}
