@import url('https://fonts.cdnfonts.com/css/harry-potter');
h1{
    font-size: 220%;
    margin-left: 25%;
    margin-right: 20%;
    font-family: cursive;
    color:white;
}
h1:hover{
    color:rgb(197, 142, 5) ;
    
    
}
h3{
    text-align: center;
    margin-top: -4%;
    margin-left: -6%;
}
    


.posters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 12%;
}
body{
    border: 4px solid rgb(197, 142, 5);
    scroll-behavior: smooth;
}


p {
    
    color: white;
    font-family:'Harry Potter', sans-serif;
    position: relative;
    cursor: pointer;

}

p::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 76%;
    left: 0;
    background-color:  rgb(197, 142, 5);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

p:hover::after {
    transform: scale(1);
   color:  rgb(197, 142, 5);
}


html {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
scroll-behavior: smooth;
align-items: center; 

}

.p8  :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p7 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p6 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p5 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p4 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p3 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p2 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}

.p1 :hover {
    transition: ease-in-out;
    transform: scale(1.09);
    
}
.logo{
    display: flex;
    margin-top: -3.5%;
}
.context{
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 3%;
    margin: -1% 0% 0% 0%;
    text-align: center;
    font-family: cursive;
    color: white;
}
.context:hover{
    transform: scale(1);
    transform: none;
}
.lgo:hover{
    transform:rotateY(350deg);
    transition-delay: 30ms;
}
.home{

margin-left: 94%;
margin-top: 1%;
}

