

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    letter-spacing: 1px; 
}
body{
    background-color: rgb(8, 116, 116);
    font-family: 'Harry Potter', sans-serif;

}
nav{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
nav img{
    margin-left: -70px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul:hover{
    transform: scale(1.2);
}
nav ul li{
    color:#0f0f0e;;
    list-style: none;
    padding: 0px 20px;


}
nav ul li:hover{
    color:#fabe0a;
}

nav ul li a{
    color: rgb(243, 243, 242);
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover{
    color:#f5ba0b;
    text-decoration-line: underline;
    transform: scale(1.2);
    transition: 0.4s all;
}


#frame{
    position: relative;
    width:1100px;
     height:400px;
    background-image: url(img/1000071855-removebg-preview.png);
    left:135px;
    background-position: center;
    background-size: cover;
     text-align: right;
    vertical-align: bottom; 
}
#my_img{
    max-width: 450px;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 120px;
    display: block;
    margin: auto;
     -webkit-transition:all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition:all 300ms ease-out;
    transition: all 300ms ease-out; 


}
#my_img:hover{
    transform: scale(0.9);
    transition: 0.5s all;
}
.align-bottom{
    position: absolute;
    left:300px;
    bottom: 10px;
    right: 500px;
    padding-bottom: 55px;

}
p{
    font-size: 20px;}
  
h1{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px rgba(66, 27, 220, 0.5);
}
.hogwarts-details{
    position: relative;
    width: 100%;
}
.about-hogwarts{
    width: 100%;
    height:80vh;
    font-size:1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding:2em;
    background-image: linear-gradient(rgba(0,0,0,.80),
    rgba(0,0,0,.80)),url(img/pngtree-the-harry-potter-castle-with-a-castle-in-the-middle-of-picture-image_2884382.jpg);
    background-size: cover;
    background-attachment: fixed;
     clip-path: polygon(0% 10%, 100% 0% ,100% 90%, 0% 100%); 
}
.about-hogwarts div{
    padding-top: 50px;
    color:#f6c01c;;
    position: relative;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


   
h3{
    padding-top:150px;
    text-align: center;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color:#f4980f;
}
.magical-objects{
     position:relative;
    height: 80vh;
    width:100%;
   
     display: flex; 
    align-items: center;
    justify-content: center;
     flex-wrap:wrap; 
    padding: 2em;

}
.magical-objects .magic{
    padding: 1em;
     flex:1 1 0;
    display: flex;
    background-image: linear-gradient( rgba(15, 14, 14, 0.946),rgba(21, 20, 20, 0.946));
    background-size: cover;
    clip-path: polygon(0% 10%, 100% 0% ,100% 90%, 0% 100%);   
    align-items: center;
    padding:1em;
    min-width: 350px;
    max-width: 400px;
}
.magical-objects .magic h4{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#f6bc0f;
}
.magical-objects img{
    height: 250px;
    width: 250px;
    -webkit-transition:all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition:all 300ms ease-out;
    transition: all 300ms ease-out;

    
}
.magical-objects img:hover{
    transform: scale(0.9);
    transition: 0.3s all;
}
    

 
 .heading h2{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    font-size: 60px;
    color: #f6c01c;
     text-align: center; 
    position: relative;
     overflow: hidden;
     animation-duration: 3s;
     animation-name:slidein;
}
@keyframes slidein {
    from{
        margin-left: 50%;

    }
    to {
        margin-left: 0%;
    }
    
} 


    @media screen and (max-width:940px) {
        .magical-objects{
        
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-content: center;
            padding-left: 300px;
        }
    }
    @media screen and (max-width:1088px) {
        .magical-objects{
            padding-left: 200px;
        }
    }
    @media screen and (max-width:1026px) {
        .magical-objects{
            padding-left: 250px;
        }
    }
    @media screen and (max-width:892px) {
        .magical-objects{
            padding-left: 400px;
        }
    }
    @media screen and (max-width:800px) {
        .magical-objects{
            padding-left: 600px;
        }
    
    }
    .hogwarts{
        height: 80vh;
        width: 100%;
        display: flex;
        background-image: linear-gradient( rgba(15, 14, 14, 0.946),rgba(21, 20, 20, 0.946)),url(img/2h5rh3z2vkebpcvf.jpg);
        background-size: cover;
        background-attachment: fixed;
          clip-path: polygon(0% 10%, 100% 0% ,100% 100%, 0% 100%);     
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2em;
      }
      .hogwarts .more{
        padding: 1em;
        flex: 1 1 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        min-width: 350px;
        max-width: 400px;
      }
      .hogwarts .more h1{
        color: #695004;
      }
      .hogwarts img{
        height: 120px;
        width: 120px;
      }
      .hogwarts p{
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #f6c01c;
        text-align: center;
      }
.about-hogwarts h2 span{
    position: relative; 
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 50px;
     display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0,0,0,0.4);
    animation: bounce .9s ease infinite
                    alternate;
}
.about-hogwarts h2 span:nth-child(2){
    animation-delay: .1s;
}
.about-hogwarts h2 span:nth-child(3){
    animation-delay: .2s;
}
.about-hogwarts h2 span:nth-child(4){
    animation-delay: .3s;
}
.about-hogwarts h2 span:nth-child(5){
    animation-delay: .4s;
}
.about-hogwarts h2 span:nth-child(6){
    animation-delay: .5s;
}
.about-hogwarts h2 span:nth-child(7){
    animation-delay: .6s;
}
.about-hogwarts h2 span:nth-child(8){
    animation-delay: .7s;
}
.about-hogwarts h2 span:nth-child(9){
    animation-delay: .8s;
}
.about-hogwarts h2 span:nth-child(10){
    animation-delay: .9s;
}
.about-hogwarts h2 span:nth-child(11){
    animation-delay: .10s;
}
.about-hogwarts h2 span:nth-child(12){
    animation-delay: .11s;
}
.about-hogwarts h2 span:nth-child(13){
    animation-delay: .12s;
}
.about-hogwarts h2 span:nth-child(14){
    animation-delay: .13s;
}
.about-hogwarts h2 span:nth-child(15){
    animation-delay: .14s;
}
.about-hogwarts h2 span:nth-child(16){
    animation-delay: .15s;
}
.about-hogwarts h2 span:nth-child(17){
    animation-delay: .16s;
}
@keyframes bounce{
    100%{
        top:-20px;

    }
}


    
    


    











    

        
            




    

    



  